-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: ksu_smart_parking
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `access_logs`
--

DROP TABLE IF EXISTS `access_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `access_logs` (
  `access_id` int(11) NOT NULL AUTO_INCREMENT,
  `visit_id` int(11) NOT NULL,
  `action` enum('Entry','Exit') NOT NULL,
  `gate_number` varchar(20) DEFAULT NULL,
  `vehicle_plate` varchar(20) DEFAULT NULL,
  `verified_by` int(11) NOT NULL,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`access_id`),
  KEY `verified_by` (`verified_by`),
  KEY `idx_access_visit` (`visit_id`),
  CONSTRAINT `access_logs_ibfk_1` FOREIGN KEY (`visit_id`) REFERENCES `visits` (`visit_id`),
  CONSTRAINT `access_logs_ibfk_2` FOREIGN KEY (`verified_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `access_logs`
--

LOCK TABLES `access_logs` WRITE;
/*!40000 ALTER TABLE `access_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `access_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `activity_logs`
--

DROP TABLE IF EXISTS `activity_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activity_logs` (
  `log_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `action` varchar(100) NOT NULL,
  `details` text DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`log_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `activity_logs_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4152 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_logs`
--

LOCK TABLES `activity_logs` WRITE;
/*!40000 ALTER TABLE `activity_logs` DISABLE KEYS */;
INSERT INTO `activity_logs` (`log_id`, `user_id`, `action`, `details`, `ip_address`, `created_at`) VALUES (1,1,'LOGIN','╪ز╪│╪ش┘è┘ ╪»╪«┘ê┘: admin','127.0.0.1','2026-09-25 21:01:35');
INSERT INTO `activity_logs` (`log_id`, `user_id`, `action`, `details`, `ip_address`, `created_at`) VALUES (2,1,'LOGIN','╪ز╪│╪ش┘è┘ ╪»╪«┘ê┘: admin','127.0.0.1','2026-09-25 21:18:01');
INSERT INTO `activity_logs` (`log_id`, `user_id`, `action`, `details`, `ip_address`, `created_at`) VALUES (3,1,'UPDATE_STATUS','╪ز╪ص╪»┘è╪س ╪د┘┘à┘ê┘é┘ 12 ╪ح┘┘ë Available','127.0.0.1','2026-09-25 21:18:03');
/*!40000 ALTER TABLE `activity_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `buildings`
--

DROP TABLE IF EXISTS `buildings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `buildings` (
  `building_id` int(11) NOT NULL AUTO_INCREMENT,
  `building_code` varchar(20) NOT NULL,
  `building_name` varchar(100) NOT NULL,
  `building_name_en` varchar(100) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `latitude` decimal(10,7) DEFAULT NULL,
  `longitude` decimal(10,7) DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`building_id`),
  UNIQUE KEY `building_code` (`building_code`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `buildings`
--

LOCK TABLES `buildings` WRITE;
/*!40000 ALTER TABLE `buildings` DISABLE KEYS */;
INSERT INTO `buildings` (`building_id`, `building_code`, `building_name`, `building_name_en`, `description`, `latitude`, `longitude`, `is_active`, `created_at`) VALUES (1,'LIB','╪د┘┘à┘â╪ز╪ذ╪ر ╪د┘╪▒╪خ┘è╪│┘è╪ر','Main Library','┘à┘â╪ز╪ذ╪ر ╪د┘┘à┘┘â ╪│╪╣┘ê╪»',NULL,NULL,1,'2026-09-28 21:09:10');
INSERT INTO `buildings` (`building_id`, `building_code`, `building_name`, `building_name_en`, `description`, `latitude`, `longitude`, `is_active`, `created_at`) VALUES (2,'ENG','┘â┘┘è╪ر ╪د┘┘ç┘╪»╪│╪ر','College of Engineering','┘â┘┘è╪ر ╪د┘┘ç┘╪»╪│╪ر',NULL,NULL,1,'2026-09-28 21:09:10');
INSERT INTO `buildings` (`building_id`, `building_code`, `building_name`, `building_name_en`, `description`, `latitude`, `longitude`, `is_active`, `created_at`) VALUES (3,'MED','┘â┘┘è╪ر ╪د┘╪╖╪ذ','College of Medicine','┘â┘┘è╪ر ╪د┘╪╖╪ذ',NULL,NULL,1,'2026-09-28 21:09:10');
/*!40000 ALTER TABLE `buildings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hosts`
--

DROP TABLE IF EXISTS `hosts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hosts` (
  `host_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `department` varchar(100) DEFAULT NULL,
  `office_number` varchar(20) DEFAULT NULL,
  `building_id` int(11) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `is_available` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`host_id`),
  UNIQUE KEY `user_id` (`user_id`),
  KEY `building_id` (`building_id`),
  CONSTRAINT `hosts_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`),
  CONSTRAINT `hosts_ibfk_2` FOREIGN KEY (`building_id`) REFERENCES `buildings` (`building_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hosts`
--

LOCK TABLES `hosts` WRITE;
/*!40000 ALTER TABLE `hosts` DISABLE KEYS */;
INSERT INTO `hosts` (`host_id`, `user_id`, `department`, `office_number`, `building_id`, `phone`, `is_available`, `created_at`) VALUES (2,8,'┘â┘┘è╪ر ╪د┘┘ç┘╪»╪│╪ر','203',2,'0501234567',1,'2026-09-28 21:56:49');
INSERT INTO `hosts` (`host_id`, `user_id`, `department`, `office_number`, `building_id`, `phone`, `is_available`, `created_at`) VALUES (4,13,'┘â┘┘è╪ر ╪د┘┘ç┘╪»╪│╪ر','105',2,'0501111111',1,'2026-09-29 01:54:04');
INSERT INTO `hosts` (`host_id`, `user_id`, `department`, `office_number`, `building_id`, `phone`, `is_available`, `created_at`) VALUES (5,14,'┘â┘┘è╪ر ╪د┘╪╖╪ذ','210',3,'0502222222',1,'2026-09-29 01:54:04');
/*!40000 ALTER TABLE `hosts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `notification_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `title` varchar(200) NOT NULL,
  `message` text NOT NULL,
  `type` enum('info','success','warning','danger') DEFAULT 'info',
  `related_visit_id` int(11) DEFAULT NULL,
  `is_read` tinyint(1) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`notification_id`),
  KEY `related_visit_id` (`related_visit_id`),
  KEY `idx_notifications_user` (`user_id`,`is_read`),
  CONSTRAINT `notifications_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`),
  CONSTRAINT `notifications_ibfk_2` FOREIGN KEY (`related_visit_id`) REFERENCES `visits` (`visit_id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
INSERT INTO `notifications` (`notification_id`, `user_id`, `title`, `message`, `type`, `related_visit_id`, `is_read`, `created_at`) VALUES (1,7,'╪╖┘╪ذ ╪▓┘è╪د╪▒╪ر ╪ش╪»┘è╪»','┘╪»┘è┘â ╪╖┘╪ذ ╪▓┘è╪د╪▒╪ر ╪ش╪»┘è╪» ╪ذ╪د┘╪ز╪╕╪د╪▒ ╪د┘┘à┘ê╪د┘┘é╪ر','info',1,0,'2026-09-28 22:35:54');
INSERT INTO `notifications` (`notification_id`, `user_id`, `title`, `message`, `type`, `related_visit_id`, `is_read`, `created_at`) VALUES (2,7,'╪╖┘╪ذ ╪▓┘è╪د╪▒╪ر ╪ش╪»┘è╪»','┘╪»┘è┘â ╪╖┘╪ذ ╪▓┘è╪د╪▒╪ر ╪ش╪»┘è╪» ╪ذ╪د┘╪ز╪╕╪د╪▒ ╪د┘┘à┘ê╪د┘┘é╪ر','info',2,0,'2026-09-28 22:41:38');
INSERT INTO `notifications` (`notification_id`, `user_id`, `title`, `message`, `type`, `related_visit_id`, `is_read`, `created_at`) VALUES (3,7,'╪╖┘╪ذ ╪▓┘è╪د╪▒╪ر ╪ش╪»┘è╪»','┘╪»┘è┘â ╪╖┘╪ذ ╪▓┘è╪د╪▒╪ر ╪ش╪»┘è╪» ╪ذ╪د┘╪ز╪╕╪د╪▒ ╪د┘┘à┘ê╪د┘┘é╪ر','info',3,0,'2026-09-28 22:42:48');
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `parking_spaces`
--

DROP TABLE IF EXISTS `parking_spaces`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `parking_spaces` (
  `space_id` int(11) NOT NULL AUTO_INCREMENT,
  `space_code` varchar(10) NOT NULL,
  `row_zone` varchar(10) NOT NULL,
  `space_number` int(11) NOT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `is_disabled_parking` tinyint(1) DEFAULT 0,
  `building_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`space_id`),
  UNIQUE KEY `space_code` (`space_code`),
  KEY `idx_spaces_disabled` (`is_disabled_parking`),
  KEY `idx_spaces_building` (`building_id`),
  CONSTRAINT `parking_spaces_ibfk_1` FOREIGN KEY (`building_id`) REFERENCES `buildings` (`building_id`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `parking_spaces`
--

LOCK TABLES `parking_spaces` WRITE;
/*!40000 ALTER TABLE `parking_spaces` DISABLE KEYS */;
INSERT INTO `parking_spaces` (`space_id`, `space_code`, `row_zone`, `space_number`, `is_active`, `is_disabled_parking`, `building_id`) VALUES (1,'A1','A',1,1,0,NULL);
INSERT INTO `parking_spaces` (`space_id`, `space_code`, `row_zone`, `space_number`, `is_active`, `is_disabled_parking`, `building_id`) VALUES (2,'A2','A',2,1,0,NULL);
INSERT INTO `parking_spaces` (`space_id`, `space_code`, `row_zone`, `space_number`, `is_active`, `is_disabled_parking`, `building_id`) VALUES (3,'A3','A',3,1,0,NULL);
/*!40000 ALTER TABLE `parking_spaces` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `parking_status`
--

DROP TABLE IF EXISTS `parking_status`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `parking_status` (
  `status_id` int(11) NOT NULL AUTO_INCREMENT,
  `space_id` int(11) NOT NULL,
  `status` enum('Available','Occupied','Reserved','OutOfService') NOT NULL DEFAULT 'Available',
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `updated_by` int(11) DEFAULT NULL,
  `current_reservation_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`status_id`),
  KEY `space_id` (`space_id`),
  KEY `updated_by` (`updated_by`),
  KEY `current_reservation_id` (`current_reservation_id`),
  CONSTRAINT `parking_status_ibfk_1` FOREIGN KEY (`space_id`) REFERENCES `parking_spaces` (`space_id`),
  CONSTRAINT `parking_status_ibfk_2` FOREIGN KEY (`updated_by`) REFERENCES `users` (`user_id`),
  CONSTRAINT `parking_status_ibfk_3` FOREIGN KEY (`current_reservation_id`) REFERENCES `reservations` (`reservation_id`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `parking_status`
--

LOCK TABLES `parking_status` WRITE;
/*!40000 ALTER TABLE `parking_status` DISABLE KEYS */;
INSERT INTO `parking_status` (`status_id`, `space_id`, `status`, `updated_at`, `updated_by`, `current_reservation_id`) VALUES (1,1,'Available','2026-09-29 20:33:50',1,NULL);
INSERT INTO `parking_status` (`status_id`, `space_id`, `status`, `updated_at`, `updated_by`, `current_reservation_id`) VALUES (2,10,'Available','2026-09-29 20:33:48',1,NULL);
INSERT INTO `parking_status` (`status_id`, `space_id`, `status`, `updated_at`, `updated_by`, `current_reservation_id`) VALUES (3,2,'Occupied','2026-09-29 20:33:02',1,NULL);
/*!40000 ALTER TABLE `parking_status` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permissions`
--

DROP TABLE IF EXISTS `permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `permissions` (
  `permission_id` int(11) NOT NULL AUTO_INCREMENT,
  `permission_name` varchar(50) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`permission_id`),
  UNIQUE KEY `permission_name` (`permission_name`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permissions`
--

LOCK TABLES `permissions` WRITE;
/*!40000 ALTER TABLE `permissions` DISABLE KEYS */;
INSERT INTO `permissions` (`permission_id`, `permission_name`, `description`) VALUES (1,'view_parking','╪╣╪▒╪╢ ╪ص╪د┘╪ر ╪د┘┘à┘ê╪د┘é┘');
INSERT INTO `permissions` (`permission_id`, `permission_name`, `description`) VALUES (2,'update_parking','╪ز╪╣╪»┘è┘ ╪ص╪د┘╪ر ╪د┘┘à┘ê╪د┘é┘');
INSERT INTO `permissions` (`permission_id`, `permission_name`, `description`) VALUES (3,'manage_users','╪ح╪»╪د╪▒╪ر ╪د┘┘à╪│╪ز╪«╪»┘à┘è┘');
/*!40000 ALTER TABLE `permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permits`
--

DROP TABLE IF EXISTS `permits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `permits` (
  `permit_id` int(11) NOT NULL AUTO_INCREMENT,
  `visit_id` int(11) NOT NULL,
  `permit_code` varchar(30) NOT NULL,
  `qr_data` text NOT NULL,
  `issued_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `expires_at` timestamp NULL DEFAULT NULL,
  `is_used` tinyint(1) DEFAULT 0,
  `used_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`permit_id`),
  UNIQUE KEY `visit_id` (`visit_id`),
  UNIQUE KEY `permit_code` (`permit_code`),
  KEY `idx_permits_code` (`permit_code`),
  CONSTRAINT `permits_ibfk_1` FOREIGN KEY (`visit_id`) REFERENCES `visits` (`visit_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permits`
--

LOCK TABLES `permits` WRITE;
/*!40000 ALTER TABLE `permits` DISABLE KEYS */;
INSERT INTO `permits` (`permit_id`, `visit_id`, `permit_code`, `qr_data`, `issued_at`, `expires_at`, `is_used`, `used_at`) VALUES (1,7,'PRM-0IJYRSRC','{\"permit_code\": \"PRM-ZIH40KRV\", \"visit_code\": \"VIS-894034\", \"visitor_name\": \"???? ??????\", \"vehicle_plate\": \"ABC-2364\", \"scheduled_date\": \"2026-10-02\", \"scheduled_time\": \"05:28\", \"building\": \"┘â┘┘è╪ر ╪د┘╪╖╪ذ\", \"issued_at\": \"2026-09-29T02:58:32.298726\", \"valid_until\": \"2026-09-30T02:58:32.298726\"}','2026-09-28 23:58:32','2026-09-29 23:58:32',0,NULL);
INSERT INTO `permits` (`permit_id`, `visit_id`, `permit_code`, `qr_data`, `issued_at`, `expires_at`, `is_used`, `used_at`) VALUES (2,5,'PRM-ONPJO5Z9','{\"permit_code\": \"PRM-4PBK8O5W\", \"visit_code\": \"VIS-155892\", \"visitor_name\": \"???? ??????\", \"vehicle_plate\": \"ABC-1234\", \"scheduled_date\": \"2026-09-30\", \"scheduled_time\": \"10:00\", \"building\": \"╪د┘┘à╪│╪ز╪┤┘┘ë ╪د┘╪ش╪د┘à╪╣┘è\", \"issued_at\": \"2026-09-29T02:58:39.246725\", \"valid_until\": \"2026-09-30T02:58:39.246725\"}','2026-09-28 23:58:39','2026-09-29 23:58:39',0,NULL);
INSERT INTO `permits` (`permit_id`, `visit_id`, `permit_code`, `qr_data`, `issued_at`, `expires_at`, `is_used`, `used_at`) VALUES (3,3,'PRM-G97XQ6IX','{\"permit_code\": \"PRM-LR2Y7RJX\", \"visit_code\": \"VIS-682364\", \"visitor_name\": \"???? ??????\", \"vehicle_plate\": \"536789\", \"scheduled_date\": \"2026-09-30\", \"scheduled_time\": \"04:44\", \"building\": \"┘â┘┘è╪ر ╪ح╪»╪د╪▒╪ر ╪د┘╪ث╪╣┘à╪د┘\", \"issued_at\": \"2026-09-29T02:58:46.338466\", \"valid_until\": \"2026-09-30T02:58:46.338466\"}','2026-09-28 23:58:46','2026-09-29 23:58:46',0,NULL);
/*!40000 ALTER TABLE `permits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reservations`
--

DROP TABLE IF EXISTS `reservations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reservations` (
  `reservation_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `space_id` int(11) NOT NULL,
  `reservation_code` varchar(20) NOT NULL,
  `status` enum('Pending','Confirmed','Cancelled','Completed','Rejected') NOT NULL DEFAULT 'Pending',
  `reserved_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `confirmed_at` timestamp NULL DEFAULT NULL,
  `confirmed_by` int(11) DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `visit_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`reservation_id`),
  UNIQUE KEY `reservation_code` (`reservation_code`),
  KEY `confirmed_by` (`confirmed_by`),
  KEY `idx_reservations_user` (`user_id`),
  KEY `idx_reservations_space` (`space_id`),
  KEY `idx_reservations_status` (`status`),
  KEY `visit_id` (`visit_id`),
  CONSTRAINT `reservations_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`),
  CONSTRAINT `reservations_ibfk_2` FOREIGN KEY (`space_id`) REFERENCES `parking_spaces` (`space_id`),
  CONSTRAINT `reservations_ibfk_3` FOREIGN KEY (`confirmed_by`) REFERENCES `users` (`user_id`),
  CONSTRAINT `reservations_ibfk_4` FOREIGN KEY (`visit_id`) REFERENCES `visits` (`visit_id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reservations`
--

LOCK TABLES `reservations` WRITE;
/*!40000 ALTER TABLE `reservations` DISABLE KEYS */;
INSERT INTO `reservations` (`reservation_id`, `user_id`, `space_id`, `reservation_code`, `status`, `reserved_at`, `confirmed_at`, `confirmed_by`, `expires_at`, `notes`, `visit_id`) VALUES (1,6,8,'KSU-368527','Pending','2026-09-28 15:50:38',NULL,NULL,'2026-09-28 17:50:38','',NULL);
INSERT INTO `reservations` (`reservation_id`, `user_id`, `space_id`, `reservation_code`, `status`, `reserved_at`, `confirmed_at`, `confirmed_by`, `expires_at`, `notes`, `visit_id`) VALUES (2,11,17,'KSU-102541','Pending','2026-09-29 00:47:15',NULL,NULL,'2026-09-29 02:47:15','',NULL);
INSERT INTO `reservations` (`reservation_id`, `user_id`, `space_id`, `reservation_code`, `status`, `reserved_at`, `confirmed_at`, `confirmed_by`, `expires_at`, `notes`, `visit_id`) VALUES (3,12,16,'KSU-781403','Cancelled','2026-09-29 00:57:43',NULL,NULL,'2026-09-29 02:57:43','',NULL);
/*!40000 ALTER TABLE `reservations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role_permissions`
--

DROP TABLE IF EXISTS `role_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `role_permissions` (
  `role_id` int(11) NOT NULL,
  `permission_id` int(11) NOT NULL,
  PRIMARY KEY (`role_id`,`permission_id`),
  KEY `permission_id` (`permission_id`),
  CONSTRAINT `role_permissions_ibfk_1` FOREIGN KEY (`role_id`) REFERENCES `roles` (`role_id`),
  CONSTRAINT `role_permissions_ibfk_2` FOREIGN KEY (`permission_id`) REFERENCES `permissions` (`permission_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role_permissions`
--

LOCK TABLES `role_permissions` WRITE;
/*!40000 ALTER TABLE `role_permissions` DISABLE KEYS */;
INSERT INTO `role_permissions` (`role_id`, `permission_id`) VALUES (1,1);
INSERT INTO `role_permissions` (`role_id`, `permission_id`) VALUES (1,2);
INSERT INTO `role_permissions` (`role_id`, `permission_id`) VALUES (1,3);
/*!40000 ALTER TABLE `role_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `roles` (
  `role_id` int(11) NOT NULL AUTO_INCREMENT,
  `role_name` varchar(50) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`role_id`),
  UNIQUE KEY `role_name` (`role_name`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` (`role_id`, `role_name`, `description`) VALUES (1,'admin','┘à╪»┘è╪▒ ╪د┘┘╪╕╪د┘à - ╪╡┘╪د╪ص┘è╪د╪ز ┘â╪د┘à┘╪ر');
INSERT INTO `roles` (`role_id`, `role_name`, `description`) VALUES (2,'staff','┘à┘ê╪╕┘ - ╪╡┘╪د╪ص┘è╪د╪ز ┘à╪ص╪»┘ê╪»╪ر');
INSERT INTO `roles` (`role_id`, `role_name`, `description`) VALUES (3,'visitor','╪▓╪د╪خ╪▒ - ╪╣╪▒╪╢ ┘┘é╪╖');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `user_id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `full_name` varchar(100) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `role_id` int(11) NOT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `last_login` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`),
  KEY `role_id` (`role_id`),
  CONSTRAINT `users_ibfk_1` FOREIGN KEY (`role_id`) REFERENCES `roles` (`role_id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` (`user_id`, `username`, `password_hash`, `full_name`, `email`, `role_id`, `is_active`, `created_at`, `last_login`) VALUES (1,'admin','scrypt:32768:8:1$1aUOBrfpLbv5Qs1R$9d794b7d03f112000a530d5868c920776fcc07324aa43c8471af5c55bab9ef51cbd1539f5885e202a54c03153a5ec10939a502e991f8ed39091032ca9df3ad59','┘à╪»┘è╪▒ ╪د┘┘╪╕╪د┘à','admin@ksu.edu.sa',1,1,'2026-09-24 14:45:49','2026-09-29 17:19:14');
INSERT INTO `users` (`user_id`, `username`, `password_hash`, `full_name`, `email`, `role_id`, `is_active`, `created_at`, `last_login`) VALUES (2,'╪╣┘┘è','scrypt:32768:8:1$voTvyNmb8xte9MTi$32001e969bf4c1d2901c947f919fde2d2737a139267881d3e5a4e6096928cd58d7ff7d96b09a6eee77c632ec36bc0a1025a15dc3401ee5dc8415e456210aeed7','╪╣┘┘è ┘à╪┤╪╣┘','ali@gmail.com',3,1,'2026-09-26 01:28:15','2026-09-26 02:33:57');
INSERT INTO `users` (`user_id`, `username`, `password_hash`, `full_name`, `email`, `role_id`, `is_active`, `created_at`, `last_login`) VALUES (3,'ahmed','scrypt:32768:8:1$FYiBYulTblAQTqHh$46bbdffad8502213209267c3dbf5ce3c4f07b90ae6dcdf4c86b56584b722c41540766fb19ea42c367bdc09897941c74710e4313d0765ca77e658892608625b96','ahmed ali','ahmed@gmail.com',1,1,'2026-09-26 02:44:31','2026-09-26 02:57:58');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `visits`
--

DROP TABLE IF EXISTS `visits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `visits` (
  `visit_id` int(11) NOT NULL AUTO_INCREMENT,
  `visitor_id` int(11) NOT NULL,
  `host_id` int(11) NOT NULL,
  `building_id` int(11) DEFAULT NULL,
  `visit_code` varchar(20) NOT NULL,
  `purpose` text DEFAULT NULL,
  `scheduled_date` date NOT NULL,
  `scheduled_time` time NOT NULL,
  `expected_duration` int(11) DEFAULT 60,
  `vehicle_plate` varchar(20) DEFAULT NULL,
  `vehicle_type` varchar(50) DEFAULT NULL,
  `visitors_count` int(11) DEFAULT 1,
  `status` enum('Pending','Approved','Rejected','Completed','Cancelled','Expired') NOT NULL DEFAULT 'Pending',
  `qr_code` text DEFAULT NULL,
  `host_notes` text DEFAULT NULL,
  `rejection_reason` text DEFAULT NULL,
  `requested_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `approved_at` timestamp NULL DEFAULT NULL,
  `entry_time` timestamp NULL DEFAULT NULL,
  `exit_time` timestamp NULL DEFAULT NULL,
  `entry_by` int(11) DEFAULT NULL,
  `exit_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`visit_id`),
  UNIQUE KEY `visit_code` (`visit_code`),
  KEY `building_id` (`building_id`),
  KEY `entry_by` (`entry_by`),
  KEY `exit_by` (`exit_by`),
  KEY `idx_visits_status` (`status`),
  KEY `idx_visits_visitor` (`visitor_id`),
  KEY `idx_visits_host` (`host_id`),
  KEY `idx_visits_date` (`scheduled_date`),
  CONSTRAINT `visits_ibfk_1` FOREIGN KEY (`visitor_id`) REFERENCES `users` (`user_id`),
  CONSTRAINT `visits_ibfk_2` FOREIGN KEY (`host_id`) REFERENCES `hosts` (`host_id`),
  CONSTRAINT `visits_ibfk_3` FOREIGN KEY (`building_id`) REFERENCES `buildings` (`building_id`),
  CONSTRAINT `visits_ibfk_4` FOREIGN KEY (`entry_by`) REFERENCES `users` (`user_id`),
  CONSTRAINT `visits_ibfk_5` FOREIGN KEY (`exit_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `visits`
--

LOCK TABLES `visits` WRITE;
/*!40000 ALTER TABLE `visits` DISABLE KEYS */;
INSERT INTO `visits` (`visit_id`, `visitor_id`, `host_id`, `building_id`, `visit_code`, `purpose`, `scheduled_date`, `scheduled_time`, `expected_duration`, `vehicle_plate`, `vehicle_type`, `visitors_count`, `status`, `qr_code`, `host_notes`, `rejection_reason`, `requested_at`, `approved_at`, `entry_time`, `exit_time`, `entry_by`, `exit_by`) VALUES (1,6,2,6,'VIS-142559','┘╪د┘╪ز┘┘┘','2026-09-29','03:36:00',60,'536789','other',5,'Approved',NULL,'',NULL,'2026-09-28 22:35:54','2026-09-29 00:10:20',NULL,NULL,NULL,NULL);
INSERT INTO `visits` (`visit_id`, `visitor_id`, `host_id`, `building_id`, `visit_code`, `purpose`, `scheduled_date`, `scheduled_time`, `expected_duration`, `vehicle_plate`, `vehicle_type`, `visitors_count`, `status`, `qr_code`, `host_notes`, `rejection_reason`, `requested_at`, `approved_at`, `entry_time`, `exit_time`, `entry_by`, `exit_by`) VALUES (2,6,2,6,'VIS-298298','┘╪د┘╪ز┘┘┘','2026-09-29','03:36:00',60,'536789','other',5,'Approved',NULL,'',NULL,'2026-09-28 22:41:38','2026-09-29 00:10:45',NULL,NULL,NULL,NULL);
INSERT INTO `visits` (`visit_id`, `visitor_id`, `host_id`, `building_id`, `visit_code`, `purpose`, `scheduled_date`, `scheduled_time`, `expected_duration`, `vehicle_plate`, `vehicle_type`, `visitors_count`, `status`, `qr_code`, `host_notes`, `rejection_reason`, `requested_at`, `approved_at`, `entry_time`, `exit_time`, `entry_by`, `exit_by`) VALUES (3,6,2,4,'VIS-682364','╪ز╪ذ┘╪╣','2026-09-30','04:44:00',60,'536789','sedan',3,'Approved',NULL,'',NULL,'2026-09-28 22:42:48','2026-09-28 23:58:46',NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `visits` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-29 23:34:21
